body {
  background-color: green;
}
.square{
	
}
#carre{
	display: flex;
	margin-left:10%;
	margin-bottom: 10%;
	margin-right: 10%;
	background-color: darkgreen;
}
.info{
background-color: lightgreen;
height: 600px;
width: 600px;
}
.form{
	width: 100%;
	background-color: white;
}
img{
	margin:5%;
	height: 300px;
	width: 300px;
}
.alert{
  text-align: center; padding:10px; background:#79c879; 
  color:#fff; margin-bottom:10px; display:none;
}